$square-width: 60px;
$square-height: $square-width;
$board-padding: 10px;
$board-width: 8 * $square-width + 2 * $board-padding;
$board-height: $board-width;
// $piece-width: 0.9 * $square-width;
$piece-width: $square-width;
$piece-height: $piece-width;

$board-color: rgb(121, 60, 25);
$white-square-color: rgb(255, 235, 181);
$black-square-color: rgb(184, 106, 61);
